/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: ;
}
.nav-left, h2{
display: flex;
}
.nav-center{
  display: flex;

}
.nav-right{
  display: flex;
}
main {

}

.article {
  display: flex;
  width: 80%;
  align-content: center;
}
.social-media {
  display: flex;
  flex-direction: column;
}
.social-media > span {
  text-align: right;
}
.author {
  text-align: left;
}