
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed, 
figure,
figcaption,
footer,
header,
hgroup, 
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure, 
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:hover,
a:hover,
i:hover {
cursor: pointer;
}
body {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #333;
  width: 1545px;
  display: block;
  justify-self: center;
}
header{
  position: fixed;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 45px;
  background-color: white;
  border-color: rgb(191, 191, 191);
}
.nav-left {
  display: flex;  
  margin: 60px;
}
.nav-left i {
  margin: 15px;
  height: 1px;
}
.nav-left b {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: helvetica,arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 14px;
}
.nav-center {
  display: inline-flex;
  align-items: center;  
}
.nav-center img {
  width: 200px;
}

.nav-right {
  display: inline-flex;
  margin-right: 60px;
}
.blue-button {
  background-color: #3A6C92;
  color: white;
  font-weight: bold;
  border: transparent;
  margin: 15px;
  padding: 10px;
  border-radius: 5px; 
  font-size: 10px;
}
.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
figure img { 
  width: 1200px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
figure p {
  display: flex;
  flex-direction: column;
  width: 93%;
}
figure h2 {
  display: flex;
  justify-content: center;
  color: #121212;
   font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3rem;
  width: calc(100% - 40px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-block-start: 0.83em;
  margin-block-end: 0;
}
figure span {
  opacity: 70%;
  font-size: 15px;
}
.article {
width: 100%;
display: grid;
grid-template-columns: 1fr auto 1fr;
}
.social-media {
  grid-column: 2/3;
  width: 600px;
  margin: auto;
  padding: 0;
  display: block;
}
.social-media > span {
  text-align: right;
}
.social-media p,
.social-media h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.social-media__icons > i {
  border: 1px solid #E4E4E4;
  margin: 0 3px;
  padding: 6px;
  border-radius: 16px;
  background-color: #E4E4E4;
}
.social-media__icons > i:hover{
  background-color: white;
  }
.author {
  display: flex;
  font-weight: bold;
}
.social-media__icons > span > i {
  border: 1px solid #E4E4E4;
  margin: 0 3px;
  padding: 13px;
  border-radius: 39px;
  background-color: white;
}
.social-media__icons > span > i:hover {
  color: grey;
}
.icon-container {
  width: 100%;
}
.icon-container00 {
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.icon-container01 {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.create-account {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 6px
}
.create-account > span {
 margin-bottom: 10px;
 font-weight: bold  ;
}
.create-account > span > em {
border-top: 1px solid lightgray;
}
.create-account > a > em {
  border-bottom: 1px solid lightgray;
  }
.blue-words {
  color: #3A6C92;
  font-weight: bold;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
figcaption {
  opacity: 80%;
  margin-top: 10px;
}
figcaption > span {
  font-size: 10px;
}
.figcaption {
  display: flex;
  margin-top: 15px;
}
.figcaption > p {
  padding-top: 10px;
}
.figcaption > .larry {
  border-top: 1px solid black;
  margin-right: 3px;
}
h5 {
  font-weight: 700;
}
.sidebar {
  grid-column: 3/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 120px;
  margin-top: 600px;
  float: inline-start;
}
.sidebar h6 {
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(141, 139, 139);
}
.sidebar-section {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-top: 10px;
}
.sidebar-section > a {
  display: flex;
  flex-direction: row;
 width:150px;
}
.thumbnails {
  width: 80px
} 
.container {
  display: grid;
  width: 945px;
  height: 576px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}
.container00 {
  width: 1000px;
  margin: auto;
}
.container > div {
  font-family: nyt-franklin, arial,helvetica,sans-serif;
}
.blue-button {
  background-color: #3A6C92;
  color: white;
  font-weight: bold;
  border: transparent;
  margin: 15px;
  padding: 10px;
  border-radius: 5px; 
  font-size: 10px;
}
.photo > img {
  width: 945px;
}
.item4 {
  grid-column: 1/ 2;
  grid-row: 2/2;
  }
.item5 {
  grid-column: 2/ 3;
  grid-row: 2/2;
  }
.item6 {
  grid-column: 3/ 4;
  grid-row: 2/2;
}
.item7 {
  grid-column: 4/ 4;
  grid-row: 2/2;
}
.item11 {
  grid-column: 1/ 1;
  grid-row: 4/4;
}
.item12 {
  grid-column: 2/ 2;
  grid-row: 4/4;
  }
.item13 {
  grid-column: 3/ 3;
  grid-row: 4/4;
  }
.item14 {
  grid-column: 4/ 4;
  grid-row: 4/4;
}
.element {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
}
.element01 {
  grid-column: 1/1;
}
.element04 {
  grid-column: 3/3;
}
.element-container {
  display: grid;
  width: 100%;
  grid-column: 2/2;
  grid-template-columns: 852px 318px;
  justify-content: center;
}
.left-main-container {
  display: grid;
  grid-column: 1/1;
  grid-template-rows: 414px 673px 364px ;
}
.first-row {
  display: grid;
  grid-row: 1/1;
  grid-template-columns: 284px 284px 284px;
  grid-template-rows: 54px 293px 38px;
}
.first-row-element-top {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/1;
  justify-content: space-between;
border-top: 1px solid black;
}
.first-row-element-1 {
  border: 1px solid lightslategray;
  grid-column: 1/1;
  grid-row: 2/2;
  padding: 15px;
}
.first-row-element-1 a {
  padding: 0px 0 0 0;
}
.row-element-1-container {
display: flex;
flex-direction: column;
height: 244px;
}
.row-element-1-container h3, 
.row-element-2-container h3,
.row-element-3-container h3 {
  margin: 0px;
}
.first-row-element-2 {
  grid-column: 2/2;
  grid-row: 2/2;
  border: 1px solid lightslategray;
  padding: 15px;
}
.first-row-element-2 a,
.first-row-element-3 a {
  padding: 0px 0 0 0;
}
.row-element-2-container {
display: flex;
flex-direction: column;
height: 244px;
}
.first-row-element-3 {
  grid-column: 3/3;
  grid-row: 2/2;
  border: 1px solid lightslategray;
  padding: 15px;
}
.row-element-3-container {
display: flex;
flex-direction: column;
height: 244px;
}
.row-element-img-row img {
  width: 30%;
}
.row-element-img-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row-element-img-row i {
  position: relative;
  border: 1px solid black;
  border-radius: 100px;
  padding: 7px 6px 7px 7px;
  height: 14px;
  opacity: 80%;
}
.row-element-img-row i:hover { 
  background-color: black;
  color: white;
}
.first-row-element-bottom {
  grid-column: 2/2;
  grid-row: 3/3;
}
.black-button {
  background-color: #121212;
  color: white;
  width: 284px;
  font-weight: bold;
  border: transparent;
  padding: 10px 40px;
  border-radius: 5px; 
  font-size: 10px;
}
.second-row {
  display: grid;
  grid-row: 2/2;
  grid-template-columns: 284px 284px 284px;
  grid-template-rows: 54px 293px 293px;
}
.second-row-element-top {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/1;
  justify-content: space-between;
border-top: 1px solid black;
}
.second-row-element-1-column-1,
.second-row-element-1-column-2,
.second-row-element-1-column-3,
.second-row-element-2-column-1,
.second-row-element-2-column-2,
.second-row-element-2-column-3,
.third-row-element-1-column-1,
.third-row-element-1-column-2,
.third-row-element-1-column-3 {
  padding: 15px;
}
.second-row-element-1-column-1 img,
.second-row-element-1-column-2 img,
.second-row-element-1-column-3 img,
.second-row-element-2-column-1 img,
.second-row-element-2-column-2 img,
.second-row-element-2-column-3 img,
.third-row-element-1-column-1 img,
.third-row-element-1-column-2 img,
.third-row-element-1-column-3 img {
 width: 100%;
 height: 181px;
}
.second-row-element-1-column-1 h3,
.second-row-element-1-column-2 h3,
.second-row-element-1-column-3 h3,
.second-row-element-2-column-1 h3,
.second-row-element-2-column-2 h3,
.second-row-element-2-column-3 h3,
.third-row-element-1-column-1 h3,
.third-row-element-1-column-2 h3,
.third-row-element-1-column-3 h3 {
margin-bottom: 0;
 }
.second-row-element-1-column-1 p,
.second-row-element-1-column-2 p,
.second-row-element-1-column-3 p,
.second-row-element-2-column-1 p,
.second-row-element-2-column-2 p,
.second-row-element-2-column-3 p,
.third-row-element-1-column-1 p,
.third-row-element-1-column-2 p,
.third-row-element-1-column-3 p {
  margin: 0;
  font-size: 10px;
   }
.third-row {
    display: grid;
    grid-row: 3/3;
    grid-template-columns: 284px 284px 284px;
    grid-template-rows: 54px 293px;
}
.third-row-element-top {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/1;
  justify-content: space-between;
  border-top: 1px solid black;
}
.second-row-element-top > span
.third-row-element-top > span  {
  font-size: 14px;
  font-weight: bold;
  margin: 30px 0 0 15px ;
}
.side-bar-container {
  display: grid;
  grid-column:2/2;
  grid-template-rows: 54px auto;
  padding: 0px 15px 0 15px ;
}
.side-bar-container-top {
  display: flex;
  grid-row: 1/1;
  justify-content: space-between;
  border-top: 1px solid black;
}
.side-bar-container-body {
  display: flex;
  grid-row: 2/2;
  flex-direction: column;
}
.side-bar-container-body a {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 15px 0px;
  font-weight: 550;
  text-size-adjust: 100%;
}
.side-bar-container-body > a > span {
  font: inherit;
  vertical-align: baseline;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0%; 
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 45px;
  background-color: white;
  border-color: rgb(191, 191, 191);
}
.footer-left {
  display: flex;  
  margin: 60px;
}
.footer-left i {
  margin: 15px;
  height: 1px;
}
 .footer-left p {
  font-family: helvetica,arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 14px;
}
.footer-center {
  display: inline-flex;
  align-items: center;  
}
.footer-center img {
  width: 200px;
}
.footer-right {
  display: inline-flex;
  margin-right: 150px;
}
.footer-right i {
  margin-left: 25px;
}  
.side-icons {
  height:15px;
  margin: 0px 10px 0px 0px;
}
.footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto 100% auto;
  grid-template-rows:auto auto;
  justify-content: center;
}
.footer {
  display: grid;
  grid-column: 2/3;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-left: -90px;
justify-self: center;
}
.footer-top-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 0 20px 0;
  border-top: 2px solid lightgrey;
}
.footer-top-nav p {
  font-size: 12px;
  color: grey;
  width: 150px;
}
.footer-logo {
height: 40px;
margin-left: 20px;
padding: 15px 0 0 0;
}
.footer-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer-div div{
  width: 150px;
  margin-left: 30px;
}
.footer-div h3{
 font-size: 20px;
}
.footer-div div, p{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
} 
h3 {
  font-size: 20px;
}
.footer-right-column {
  margin-left: 150px;
  border-left: 1px solid lightgray; 
  padding-left: 10px;
}
.footer-right-column h3 {
  width: 300px;
}
.footer-right-column p {
  font-size: 13px;   
}
.chinese-wording {
  color:black;
}
.bottom-nav {
  display: grid;
  width: 100%;
  grid-column: 2/2;
  grid-row:2/2;
  display: flex;
  flex-direction: row;
  margin: 60px 30px;
  justify-content: center;
  z-index: -1;
}
.bottom-nav p {
  font-size: 12px;
  opacity: 80%;
  padding:0 6px;
}

 