button:hover,
a:hover,
i:hover {
cursor: pointer;
}


body {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #333;
  max-width: 1545px;
  min-width: 1545px;
  width:1545px;
}



header{
  position: fixed;
  width:100%;
}
header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height:45px;
  background-color: white;
  border-color: rgb(191, 191, 191);
}

.nav-left{
  display: flex;  
  margin:60px;
}
.nav-left i{
  margin:15px;
  height:1px;
}
 .nav-left p{
  font-family: helvetica,arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 14px;
}

.nav-center{
  display: inline-flex;
  align-items: center;  
}
.nav-center img{
  width:200px;
}

.nav-right{
  display: inline-flex;
  margin-right:60px;

}
.blue-button {
  background-color:#3A6C92;
  color: white;
  font-weight: bold;
  border:transparent;
  margin:15px;
  padding:10px;
  border-radius: 5px; 
  font-size: 10px;
}



main {

  }
.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
figure img{ 
  width:70%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
figure p {
  width: 70%;
  display: flex;
  flex-direction: column;
}
figure h2 {
  display: flex;
    justify-content: center;
  color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 3rem;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
        margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
figure span {
  opacity: 70%;
  font-size: 15px;
}


.article {
width: 100%;
}

.social-media {
  width: 600px;
  margin:auto;
  padding:0;
  display: block;
}
.social-media > span {
  text-align: right;
}
.social-media p,
.social-media h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.social-media__icons > i {
  border: 1px solid #E4E4E4;
  margin: 0 3px;
  padding: 6px;
  border-radius: 16px;
  background-color: #E4E4E4;
}
.social-media__icons > i:hover{
  background-color: white;
  }
.author {
  display: flex;
  font-weight: bold;
}

.icon-container{

  width:100%;
}
.icon-container00{
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}
.icon-container01{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.create-account {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.blue-words {
  color: #3A6C92;
  font-weight: bold;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h5 {
  font-weight: 700;
}
.sidebar {
  position: absolute;
  top: 1500px;
  left:80%;
  width: 200px;
}
.sidebar h6 {
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(141, 139, 139);
}
.sidebar-section {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-top: 10px;
}
.sidebar-section > a {
  display: flex;
  flex-direction: row;
 width:200px;
}
.thumbnails {
  width: 80px
} 



.container{
  display: grid;
  width:945px;
  height: 576px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25% ;

 
}
.container00{
  width: 1000px;
  margin: auto;
}
.container > div {
  font-family: nyt-franklin, arial,helvetica,sans-serif;
}
.blue-button {
  background-color:#3A6C92;
  color: white;
  font-weight: bold;
  border:transparent;
  margin:15px;
  padding:10px;
  border-radius: 5px; 
  font-size: 10px;
}
/* {
    ect-fit: cover;
  background-repeat: no-repeat;
  background-size: auto;
} */
.photo > img {
  width: 945px;
}

.item4{
  grid-column: 1/ 2;
  grid-row:2/2;
  }
.item5{
  grid-column: 2/ 3;
  grid-row:2/2;
  }
.item6{
  grid-column: 3/ 4;
  grid-row:2/2;
}
.item7{
  grid-column: 4/ 4;
  grid-row:2/2;
}
.item11{
  grid-column: 1/ 1;
  grid-row:4/4;
}
.item12{
  grid-column: 2/ 2;
  grid-row:4/4;
  }
.item13{
  grid-column: 3/ 3;
  grid-row:4/4;
  }
.item14{
  grid-column: 4/ 4;
  grid-row:4/4;
}


.element{
  display: grid;
  width:1545px;
  grid-template-columns: 126px 1292px 127px;
}

.element-container{
  display: grid;
  width:1292px;
  grid-column: 2/2;
  grid-template-columns: 852px 318px;
}
.left-main-container{
  display: grid;
  grid-column: 1/1;
  grid-template-rows: 414px 673px 364px ;
}


.first-row{
  display: grid;
  grid-row: 1/1;
  grid-template-columns: 284px 284px 284px;
  grid-template-rows: 54px 293px 38px;
}

.first-row-element-top{
  display: flex;
  grid-column: 1/4;
  grid-row: 1/1;
  justify-content: space-between;
border-top: 1px solid black;
}

.first-row-element-1{
  border: 1px solid lightslategray;
  grid-column: 1/1;
  grid-row:2/2;
  padding:15px;

}
.first-row-element-1 a{
  padding:0px 0 0 0;
}
.row-element-1-container{
display: flex;
flex-direction: column;
height:244px;
}
.row-element-1-container h3{
  margin:0px;
}
.first-row-element-2{
  grid-column: 2/2;
  grid-row:2/2;
  border: 1px solid lightslategray;
  padding:15px;
}
.first-row-element-2 a{
  padding:0px 0 0 0;

}
.row-element-2-container{
display: flex;
flex-direction: column;
height:244px;
}
.row-element-2-container h3{
  margin:0px;
}
.first-row-element-3{
  grid-column: 3/3;
  grid-row:2/2;
  border: 1px solid lightslategray;
  padding:15px;
}
.first-row-element-3 a{
  padding:0px 0 0 0;
}
.row-element-3-container{
display: flex;
flex-direction: column;
height:244px;
}
.row-element-3-container h3{
  margin:0px;
}
.row-element-img-row img{
  width:30%;
}
.row-element-img-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-element-img-row i{
  position: relative;
  border: 1px solid black;
  border-radius: 100px;
  padding:7px 6px 7px 7px;
  height:14px;
  opacity: 80%;
}
.row-element-img-row i:hover{ 
  background-color: black;
  color: white;
}
.first-row-element-bottom{
  grid-column: 2/2;
  grid-row:3/3;
}
.black-button {
  background-color:#121212;
  color: white;
  width:284px;
  font-weight: bold;
  border:transparent;
  margin:15px 0 0 0;
  padding:10px;
  border-radius: 5px; 
  font-size: 10px;
}




.second-row{
  display: grid;
  grid-row: 2/2;
  grid-template-columns: 284px 284px 284px;
  grid-template-rows: 293px 293px;
}
.second-row-element-1-column-1{
  grid-column: 1/1;
  grid-row:1/1;
  padding:15px;
}

.second-row-element-1-column-1 img{
 width:100%;
 height:181px;
}

.second-row-element-1-column-1 h3{
margin-bottom: 0;
 }
 .second-row-element-1-column-1 p{
  margin: 0;
  font-size: 10px;
   }
.second-row-element-1-column-2{
  grid-column: 2/3;
  grid-row:1/1;
  padding:15px;
  }
.second-row-element-1-column-2 img{
  width:100%;
  height:181px;
}

.second-row-element-1-column-2 h3{
  margin-bottom: 0;
}
.second-row-element-1-column-2 p{
  margin: 0;
  font-size: 10px;
}



.third-row{
  width:852px;
}

.side-bar-container {
  display: grid;
  grid-column:2/2;
}
.side-bar-container-top{
  height:40px;
}