button:hover,
a:hover,
i:hover {
cursor: pointer;
}


body {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #333;
}



header{
  position: fixed;
  width:100%;
}
header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height:45px;
  background-color: white;
  border-color: rgb(191, 191, 191);
}

.nav-left{
  display: flex;  
  margin:60px;
}
.nav-left i{
  margin:15px;
  height:1px;
}
 .nav-left p{
  font-family: helvetica,arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 14px;
}

.nav-center{
  display: inline-flex;
  align-items: center;  
}
.nav-center img{
  width:200px;
}

.nav-right{
  display: inline-flex;
  margin-right:60px;

}
.nav-right button {
  background-color:#3A6C92;
  color: white;
  font-weight: bold;
  border:transparent;
  margin:15px;
  padding:10px;
  border-radius: 5px; 
  font-size: 10px;
}



main {

  }
.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
figure img{ 
  width:70%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
figure p {
  width: 70%;
  display: flex;
  flex-direction: column;
}
figure h2 {
  display: flex;
    justify-content: center;
  color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 3rem;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
        margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
figure span {
  opacity: 70%;
  font-size: 15px;
}


.article {
width: 100%;
}

.social-media {
  width: 600px;
  margin:auto;
  padding:0;
  display: block;
}
.social-media > span {
  text-align: right;
}
.social-media p,
.social-media h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.social-media__icons > i {
  border: 1px solid #E4E4E4;
  margin: 0 3px;
  padding: 6px;
  border-radius: 16px;
  background-color: #E4E4E4;
}
.social-media__icons > i:hover{
  background-color: white;
  }
.author {
  display: flex;
  font-weight: bold;
}

.icon-container{

  width:100%;
}
.icon-container00{
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}
.icon-container01{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.create-account {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.blue-words {
  color: #3A6C92;
  font-weight: bold;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h5 {
  font-weight: 700;
}
.sidebar {
  position: absolute;
  top: 1500px;
  left:80%;
  width: 200px;
}
.sidebar h6 {
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(141, 139, 139);
}
.sidebar-section {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-top: 10px;
}
.sidebar-section > a {
  display: flex;
  flex-direction: row;
 width:200px;
}
.thumbnails {
  width: 80px
} 



.container{
  display: grid;
  width:945px;
  height: 576px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25% ;

 
}
.container00{
  width: 1000px;
  margin: auto;
}
.container > div {
  font-family: nyt-franklin, arial,helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 200;
    color: black;
    opacity: 90%;
}
.container > img {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: auto;
  
}
.photo > img {
  width: 945px;
}

.item4{
  grid-column: 1/ 2;
  grid-row:2/2;
  }
.item5{
  grid-column: 2/ 3;
  grid-row:2/2;
  }
.item6{
  grid-column: 3/ 4;
  grid-row:2/2;
}
.item7{
  grid-column: 4/ 4;
  grid-row:2/2;
}
.item11{
  grid-column: 1/ 1;
  grid-row:4/4;
}
.item12{
  grid-column: 2/ 2;
  grid-row:4/4;
  }
.item13{
  grid-column: 3/ 3;
  grid-row:4/4;
  }
.item14{
  grid-column: 4/ 4;
  grid-row:4/4;
}
.item15{

}
