button:hover,
a:hover,
i:hover {
cursor: pointer;
}


body {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #333;
align-content: center;
}
header{
  position: fixed;
width:100%;
}
header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height:45px;
  background-color: white;
  border-color: rgb(191, 191, 191);
}

.nav-left{
  display: flex;  
  margin:60px;
}
.nav-left i{
  margin:15px;
  height:1px;
}
 .nav-left p{
  font-family: helvetica,arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 14px;
}

.nav-center{
  display: inline-flex;
  align-items: center;  
}
.nav-center img{
  width:200px;
}

.nav-right{
  display: inline-flex;
  margin-right:60px;

}
.nav-right button {
  background-color:#3A6C92;
  color: white;
  font-weight: bold;
  border:transparent;
  margin:15px;
  padding:10px;
  border-radius: 5px; 
font-size: 10px;
}



main {
   display: flex;
   flex-direction: column;
   align-items: center;  
  }
.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure img{ 
  width:70%;
  display: flex;
  justify-content: center;
}
figure p {
  width: 70%;
  display: flex;
  flex-direction: column;
}
figure h2 {
  display: flex;
    justify-content: center;
  color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 3rem;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
        margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
figure span {
  opacity: 70%;
  font-size: 15px;
}


.article {
  display: flex;
  justify-content: center;
width: 100%;
}

.social-media {
  width:50%;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}
.social-media > span {
  text-align: right;
}
.social-media p,
.social-media h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.author {
  display: flex;
  font-weight: bold;
}

.icon-container{
  display: flex;
  justify-content: center;
  margin:10px;
  width:100%;
}
.icon-container00{
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  width:50%;
}
.icon-container01{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.create-account {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.blue-words {
  color: blue;
  font-weight: bold;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h5 {
  font-weight: 700;

}

/* 
.col-two{
  width:25%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
 
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80px;;
  margin: 800px 10px 0px 20px;
}
.sidebar-section {
  display: flex;
  flex-direction: row;
  height: 80px;
}
.sidebar-section > a {
  display: flex;
  flex-direction: row;
 width:2px;
}
.thumbnails {
  width: 80px
} */



.container{
  width:900px;
  height: 25%;
 
}

.container{
  display: grid;
  width:1890px;
  height: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25% ;
}




.container > img {
  object-fit: cover;
  position: fixed;
  background-repeat: no-repeat;
  background-size: auto;
}


.item4{
  background-color: black;
  grid-column: 1/ 2;
  grid-row:2/2;
  }
.item5{
  background-color: teal;

  }
.item6{
  background-color: red;

}
.item7{
  background-color:blue;

}
.item11{
  background-color:blue;

}
.item12{
  background-color: black;
  }
.item13{
  background-color: teal;

  }
.item14{
  background-color: red;

}
.item15{

}
